<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="someContext.xml"/>

    <alias name="firstUser" alias="toFirstUser"/>

    <bean  class="learn.ioc.bean.User" name="myname, newname">
        <property name="name" value="Hi first user" />
    </bean>

    <bean id="clientService"
          class="learn.ioc.bean.factory.ClientService"
          factory-method="createInstance"/>

    <bean id="nonStaticFactory"
          class="learn.ioc.bean.factory.UserFactory">
        <property name="factoryName" value="NON STATIC FACTORY"/>
    </bean>

    <bean id="proucedUser"
          factory-bean="nonStaticFactory"
          factory-method="produceUser"/>
</beans>